<html>
<head>
    <title>{{ pessoa }}</title>
    {% include "head.html" %}
</head>
<body>
    <h1 align="center">{{ pessoa }}</h1>
    <div align="center">
        <img src="/media/{{ pessoa.foto }}" width="80"/>
        <p>
            {{ pessoa.chave }}
        </p>
    </div>
    <div align="center" id="qrcode" style="margin:20"></div>

    {% with solicitacoes_pendentes=pessoa.get_solicitacoes.pendentes %}
        {% if solicitacoes_pendentes %}
            <h3 align="center">Solicitações Pendentes</h3>
            <div class="center" style="max-width:400px;margin:auto">
                {% for solicitacao in solicitacoes_pendentes %}
                    <p align="center">
                        <a class="btn btn-primary" href="/checkin/solicitacao/{{ solicitacao.uuid }}/">{{ solicitacao }}</a>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% with ultimos_checkins=pessoa.get_ultimos_checkins %}
        {% if ultimos_checkins %}
            <h3 align="center">Últimos Registros</h3>
            <div align="center">
                {% for checkin in ultimos_checkins %}
                <p>{{ checkin.data_hora }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div align="center">
        <a class="btn btn-success" href="/checkin/pessoa/{{ pessoa.token }}/">
            Registrar Presença
        </a>
    </div>

</body>
<script src="/static/js/qrcode.min.js"></script>
<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{ pessoa.token }}");
</script>
</html>