<html>
<head>
    <title>Identificação - {{ pessoa }}</title>
    {% include "head.html" %}
    <script type="text/javascript" src="/static/js/webcam.min.js"></script>
</head>

<body>
    <div id="camera" style="position:absolute; top:10; right:10"></div>
    <h1>{{ pessoa }}</h1>
    <h2>Identificação Facial</h2>
    <div style="text-align:center">
        <img src="/static/images/scan.gif" style="max-width:90%; max-height:200px">
    </div>
    <h2>Identificação Geoespacial</h2>
    <div style="text-align:center">
        <img src="/static/images/position-icon-8.jpg" style="width:100">
        <p id="geolocation">Verificando geolocalização...</p>
    </div>
</body>
<script>
{% if autorizado %}
    window['latitude'] = 0;
    window['longitude'] = 0;
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        $('#geolocation').html("Geolocatização não funcionada nesse navegador.");
      }
    }
    function showPosition(position) {
        window['latitude'] = position.coords.latitude;
        window['longitude'] = position.coords.longitude;
        $('#geolocation').html(
            "<b>Latitude</b>: " + position.coords.latitude + "<b><br>Longitude</b>: " + position.coords.longitude
        );
    }
    function startScan(){
        var i = 0;
        var interval;
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 100
        });
        Webcam.attach('#camera');

        takeSnapShot = function () {
            i += 1;
            Webcam.snap(function (data_uri) {
                var data = {image:data_uri, latitude:window['latitude'], longitude:window['longitude']};
                $.post("?", data, function( data ) {
                    var response = JSON.parse(data);
                    if(response.checkin){
                        document.location.href = '/end/' + response.checkin + '/?next={{ redirect_url }}';
                        clearInterval(interval);
                    } else if(response.solicitacao){
                        document.location.href = '/upload/' + response.solicitacao + '/';
                        clearInterval(interval);
                    } else {
                        if(interval && i > 3){
                            clearInterval(interval);
                            alert(response.message);
                            history.back();
                        }
                    }
                });
            });
        }

        Webcam.on( 'live', function() {
            interval = setInterval(takeSnapShot, 5000);
        } );

        Webcam.on( 'error', function(err) {
            alert(err);
            if(interval) clearInterval(interval);
        } );
    }
    getLocation();
    startScan();
{% else %}
    alert('Dispositivo não autorizado.');
    history.back();
{% endif %}
</script>
</html>