<html>
<head>
    <title>Identificação - {{ pessoa }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/webcam.min.js"></script>
	<script src="/static/js/jquery-3.6.0.min.js"></script>
    <script>
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            $('#geolocation').html("Geolocatização não funcionada nesse navegador.");
          }
        }
        function showPosition(position) {
            window['latitude'] = position.coords.latitude;
            window['longitude'] = position.coords.longitude;
            $('#geolocation').html(
                "<b>Latitude</b>: " + position.coords.latitude + "<b><br>Longitude</b>: " + position.coords.longitude
            );
        }
    </script>
    <style>
        body{
            margin:10px;
        }
    </style>
</head>

<body onload="getLocation();{% if autorizado %}startScan(){% endif %}">
    <div id="camera" style="position:absolute; top:10; right:10"></div>
    <h1>{{ pessoa }}</h1>
    {% if not autorizado %}
        <div id="message" class="alert alert-danger" role="alert">
          Dispositivo não autorizado. Não será possível realizar a identificação facial.
        </div>
    {% endif %}
    <h2>Identificação Facial</h2>
    <div style="text-align:center">
        <img src="https://cdn.dribbble.com/users/1332896/screenshots/3195603/scan.gif" style="max-width:90%; max-height:200px">
    </div>
    <h2>Identificação Geoespacial</h2>
    <div style="text-align:center">
        <img src="https://icon-library.com/images/position-icon/position-icon-8.jpg" style="width:100">
        <p id="geolocation">Verificando geolocalização...</p>
    </div>
</body>

<script>
    function startScan(){
        var i = 0;
        var interval;
        Webcam.set({
            width: 110,
            height: 95,
            image_format: 'jpeg',
            jpeg_quality: 200
        });
        Webcam.attach('#camera');

        takeSnapShot = function () {
            i += 1;
            Webcam.snap(function (data_uri) {
                var data = {image:data_uri, latitude:window['latitude'], longitude:window['longitude']};
                $.post("?", data, function( url ) {
                    if(url){
                        document.location.href = url;
                        clearInterval(interval);
                    }
                });
            });
            if(interval && i > 3){
                clearInterval(interval);
                alert('Identificação facial não realizada!');
            }
        }

        Webcam.on( 'live', function() {
            interval = setInterval(takeSnapShot, 5000);
        } );

        Webcam.on( 'error', function(err) {
            alert(err);
            if(interval) clearInterval(interval);
        } );
    }
</script>
</html>