<link rel="apple-touch-icon" sizes="128x128" href="/static/images/checkin.png">
<link rel="icon" sizes="192x192" href="/static/images/checkin.png">
<meta charset="utf-8">
<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    body{
        margin:10px;
    }
</style>