<html>
<head>
    <title>Solicitação</title>
    {% include "head.html" %}
    <script type="text/javascript" src="/static/js/webcam.min.js"></script>
</head>

<body>
    <div id="camera" style="position:fixed; top:10; right:10"></div>
    <h1>Solicitação</h1>
    <div align="center">
        <img width="50%" id="img" src="/static/images/no-image.png" onclick="takeSnapShot(this)">
        <p>Placa Dianteira</p>
    </div>
    <div align="center">
        <img width="50%" id="img" src="/static/images/no-image.png" onclick="takeSnapShot(this)">
        <p>Placa Traseira</p>
    </div>
<script>
    var i = 0;
    var interval;
    Webcam.set({
        width: 110,
        height: 95,
        image_format: 'jpeg',
        jpeg_quality: 200
    });
    Webcam.attach('#camera');

    takeSnapShot = function (img) {
        Webcam.snap(function (data_uri) {
            img.src = data_uri;
        });
    }

    Webcam.on( 'live', function() {
        interval = setInterval(takeSnapShot, 5000);
    } );

    Webcam.on( 'error', function(err) {
        alert(err);
        if(interval) clearInterval(interval);
    } );
</script>
</body>
</html>